
h3{
    margin-bottom: 5%;
}


#app{
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #Cc3e50;
  margin-top: 60px;
}


